<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="translator" href="/tabs/translator">
      <ion-icon aria-hidden="true" name="globe"></ion-icon>
      <ion-label>Translator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
